.demo {
  border: 1px solid var(--c-border);
}

.demo-display {
  position: relative;
  padding: 1.5rem;
}

.demo-frame-container {
  height: 100%;
}

.demo-frame {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
}

.demo-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding: 0.5rem;
  height: 2.5rem;
  box-sizing: border-box;

  border-top: 1px solid var(--c-border);
  font-size: 16px;
}

.demo-action {
  margin: 0 0.5rem;
  cursor: pointer;
  color: var(--c-text-lighter);
  transition: 0.2s;
}

.demo-action:hover {
  color: var(--c-text);
}
