.v-icon,
.v-icon svg {
  height: 1em;
  width: 1em;
}

.v-icon {
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  line-height: 1em;
  fill: currentColor;
}
